<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>famo.us App</title>
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet" type="text/css" href="<%= famousPath %>/core/famous.css" />
        <link rel="stylesheet" type="text/css" href="<%= examplesPath %>/assets/css/app.css" />
        <link rel="stylesheet" type="text/css" href="<%= examplesPath %>/assets/css/famous_styles.css" />
    </head>
    <body>
    <% _.each(output, function (files, key) { %>
        <h1> <%= key %> </h1>
        <% _.each(files, function (file) { %>
            <li><a href='<%= file %>'><%= file %></a></li>
        <% }); %>
    <% }); %>
    </body>
</html>
